{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-start justify-start w-4/5 gap-5">
    <div>
        <h1 class="text-4xl text-white font-black">
            <span class="text-lime-500">score</span>keeper .
        </h1>
        <h1 class="text-sm text-lime-500 font-light">
            Keep track of your pickleball scores.
        </h1>
    </div>
    <div class="flex flex-col gap-3 mt-5 w-full">
        {% block section_content %}
        {% endblock section_content %}
    </div>
</div>
{% endblock content %}