{% extends 'index.html' %}
{% block section_content %}
<div class="flex flex-row items-center gap-[5%] justify-start border-b-2 border-lime-500">
    <button onclick="location.href = '/?type={{ type_of_game }}&section=report_scores'" class="bg-transparent text-lime-500 font-bold basis-[30%] py-2 text-xs">
        Report Scores
    </button>
    <button onclick="location.href = '/?type={{ type_of_game }}&section=doubles_stats'" class="bg-transparent text-lime-500 text-black font-bold basis-[30%] py-2 text-xs">
        Doubles Stats
    </button>
    <button onclick="location.href = '/?type={{ type_of_game }}&section=personal_stats'" class="rounded-t-lg bg-lime-500 text-black font-bold basis-[30%] py-2 text-xs">
        Personal Stats
    </button>
</div>

<div class="flex flex-col gap-2">
    <h1 class="text-white font-black text-xl">Best Players</h1>
    <div class="flex flex-col gap-6 w-full h-[57.5vh] overflow-scroll">
        {% for idx, (name, stats) in personal_stats %}
        <div class="flex flex-col flex-none items-center justify-center w-full h-24">
            <div class="flex items-center justify-start rounded-t-lg bg-{{ places_to_colors.get(idx, 'slate-600') }}/[0.85] flex flex-row gap-2 basis-[40%] w-full">
                <h1 class="text-white font-black ml-4">
                    #{{ idx}}
                </h1>
                <h1 class="text-white font-light">
                    {{ name }}
                </h1>
            </div>
            <div class="flex items-center justify-center rounded-b-lg bg-{{ places_to_colors.get(idx, 'slate-600') }}/50 flex flex-row gap-2 basis-[60%] w-full">
                <div class="flex flex-row items-center justify-center divide-x divide-{{ places_to_colors.get(idx, 'slate-600') }}/50 w-full h-full">
                    <div class="flex flex-col justify-center basis-1/4 h-full text-white/[0.9]">
                        <h1 class="text-lg font-bold ml-5">
                            {{ '%0.0f' % stats["elo_rating"] }}
                        </h1>
                        <h1 class="text-sm font-light ml-5 -mt-1">
                            ELO
                        </h1>
                    </div>
                    <div class="flex flex-col justify-center basis-1/4 h-full text-white/[0.9]">
                        <h1 class="text-lg font-bold ml-5">
                            {{ stats["wins"] }}
                        </h1>
                        <h1 class="text-sm font-light ml-5 -mt-1">
                            wins
                        </h1>
                    </div>
                    <div class="flex flex-col justify-center basis-1/4 h-full text-white/[0.9]">
                        <h1 class="text-lg font-bold ml-5">
                            {{ stats["losses"] }}
                        </h1>
                        <h1 class="text-sm font-light ml-5 -mt-1">
                            losses
                        </h1>
                    </div>
                    <div class="flex flex-col justify-center basis-1/4 h-full text-white/[0.9]">
                        <h1 class="text-lg font-bold ml-5">
                            {{ '%0.1f' % (stats["avg_points"] * 11) }}
                        </h1>
                        <h1 class="text-sm font-light ml-5 -mt-1">
                            ppg
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock section_content %}